<% @pagetitle = "People" %>

<h1>People</h1>

<div class="indexlist">

<ul>

<% for person in @people %>

<li><%= link_to person.anchor_text, person %>
</li>

<% end %>

</ul>

</div>

<%= link_to 'New person', new_person_path %>
