<% @pagetitle = "Add a new person" %>

<h1>Add a new person</h1>

<% form_for(@person) do |f| %>
<%= f.error_messages %>

<%= render(:partial => 'form', :object => f) %>

<p>
<%= f.submit "Create" %>
</p>
<% end %>

<%= link_to 'Back', people_path %>
