<% @pagetitle = "Works" %>

<h1>Works</h1>

<% for work in @works %>

<div class="indexlist">

<h2> <%= link_to work.anchor_text, work %></h2>

<p>

<%= pluralize(work.reifications.size, "expression") %>.

</p>

<p>

Created by:

</p>

<%= render(:partial => 'layouts/group2entitylist', 
  :object => work.creators) %>

<% # render(:partial => 'attributes', :object => work) %>

</div>

<% end %>

<%= link_to 'New work', new_work_path %>
