<% @pagetitle = "Works" %>

<h1>Works</h1>

<div class="indexlist">

<p>

TODO: Put back to in @works.sort, link_to work.anchor_text

</p>

<% for work in @works %>

<ul>

<li> <%= link_to work.title, work %>
<br />
Created by:
<%= render(:partial => 'layouts/group2entitylist', :object => work.creators) %>
</li>

</ul>

<% end %>

</div>

<%= link_to 'New work', new_work_path %>
