<% @pagetitle = "Works" %>

<h1>Works</h1>

<% for work in @works %>
<h2> <%= link_to work.title, work %> (<%= work.date %>)</h2>

<%= render(:partial => 'attributes', :object => work) %>

<% end %>

<%= link_to 'New work', new_work_path %>
