<% @pagetitle = "Families" %>

<h1>Families</h1>

<div class="indexlixt">

<ul>

<% for family in @families %>

<li><%= link_to family.name, family %>
</li>

<% end %>

</ul>

</div>

<%= link_to 'New family', new_family_path %>
