<% @pagetitle = "Events" %>

<h1>Events</h1>

<ul>

<% for event in @events %>
<li> <%= link_to event.term, event %> 
<ul>
<li> Date: <%= event.date %></li>
<li> Comment: <%= event.comment %></li>
</ul>
</li>
<% end %>

</ul>

<%= link_to 'Add an event', new_event_path %>

