<% @pagetitle = "Expressions" %>

<h1>Expressions</h1>

<dl>

<% for expression in @expressions %>
<h2> <%= link_to expression.title, expression%> (<%= expression.date %>)</h2>

<%= render(:partial => 'attributes', :object => expression) %>

<% end %>

<%= link_to 'New expression', new_expression_path %>
