<% @pagetitle = "Expressions" %>

<h1>Expressions</h1>

<div class="indexlist">

<% for e in @expressions %>

<ul> 
<li> <%= link_to e.anchor_text, e %>
<br />
Realized by: 
<%= render(:partial => 'layouts/group2entitylist', :object => e.realizers) %>
</li>

</ul>

<% end %>

</div>

<%= link_to 'New expression', new_expression_path %>
