<% @pagetitle = "Manifestations" %>

<h1>Manifestations</h1>

<% for manifestation in @manifestations %>
<h2><%= link_to manifestation.title, manifestation%> (<%= manifestation.publication_date %>)</h2>

<%= render(:partial => 'attributes', :object => manifestation) %>

<% end %>

</dl>

<%= link_to 'New manifestation', new_manifestation_path %>
