<% @pagetitle = "Manifestations" %>

<h1>Manifestations</h1>

<div class="indexlist">

<ul>

<% for m in @manifestations %>

<li> <%= link_to m.anchor_text, m %>
<br />
Produced by: 
<%= render(:partial => 'layouts/group2entitylist', :object => m.producers) %>
</li>

<% end %>

</ul>

</div>

<%= link_to 'New manifestation', new_manifestation_path %>
