<% @pagetitle = "Concepts" %>

<h1>Concepts</h1>

<ul>

<% for concept in @concepts %>
<li> <%= link_to concept.term, concept %> 
(Comment: <%= concept.comment %>)
</li>
<% end %>

</ul>

<%= link_to 'Add a concept', new_concept_path %>
