<% @pagetitle = "Concepts" %>

<h1>Concepts</h1>

<div class="indexlist">

<ul>

<% for concept in @concepts %>
<li> <%= link_to concept.anchor_text, concept %> 
</li>
<% end %>

</ul>

</div>

<%= link_to 'Add a concept', new_concept_path %>
