<ul>

<li> Call number: <%= attributes.call_number %>
</li>

<li> Identifier: <%= attributes.identifier %>
</li>

<li> Provenance: <%= attributes.provenance %>
</li>

<li> Comment: <%= attributes.comment %>
</li>

</ul>
