<table class="newform">

<tr>
<td>Call number</td>
<td><%= form.text_field :call_number, :size => 25 %><td>
</tr>

<tr>
<td>Identifier</td>
<td><%= form.text_field :identifier, :size => 25 %><td>
</tr>

<tr>
<td>Provenance</td>
<td><%= form.text_field :provenance, :size => 25 %><td>
</tr>

<tr>
<td>Comment</td>
<td><%= form.text_field :comment, :size => 50  %><td>
</tr>

</table>
