<% @pagetitle = "Items" %>

<h1>Items</h1>

<div class="indexlist">

<ul>

<% for item in @items %>

<li><%= link_to item.manifestation.anchor_text, item %> 
(<%= item.identifier %>)
<br />
Owned by: 
<%= render(:partial => 'layouts/group2entitylist', :object => item.owners) %>
</li>

<% end %>

</ul>

</div>


<%= link_to 'New item', new_item_path %>
