b<ul>

<li> Dates: <%= attributes.dates %>
</li>

<li> Other designation: <%= attributes.other_designation %>
</li>

<li> Place: <%= attributes.place %>
</li>

<li> Comment: <%= attributes.comment %>
</li>

</ul>

