<% @pagetitle = "Corporate bodies" %>

<h1>Corporate Bodies</h1>

<div class="indexlist">

<ul>

<% for corp in @corporate_bodies %>

<li><%= link_to corp.anchor_text, corp %></li>

<% end %>

</ul>

</div>

<%= link_to 'New corporate body', new_corporate_body_path %>
