<% @pagetitle = "Corporate bodies" %>

<h1>Corporate Bodies</h1>

<% for corporate_body in @corporate_bodies %>
<h2><%= link_to corporate_body.name, corporate_body %></h2>

<%= render(:partial => 'attributes', :object => corporate_body) %>

<% end %>

<%= link_to 'New corporate body', new_corporate_body_path %>
