<% @pagetitle = "Corporate body: #{@corporate_body.name}" %>

<h1><%= @corporate_body.name %></h1>

<%= link_to 'Edit', edit_corporate_body_path(@corporate_body) %>

<p>

Attributes

</p>

<%= render(:partial => 'attributes', :object => @corporate_body) %>

