<% @pagetitle = "Objects" %>

<h1>Objects</h1>

<ul>

<% for frbr_object in @frbr_objects %>
<li> <%= link_to frbr_object.anchor_text, frbr_object %> 
</li>
<% end %>

</ul>

<%= link_to 'Add an object', new_frbr_object_path %>
