<% @pagetitle = "Places" %>

<h1>Places</h1>

<ul>

<% for place in @places %>
<li> <%= link_to place.term, place %> 
(Comment: <%= place.comment %>)</li>
<% end %>

</ul>

<%= link_to 'Add a place', new_place_path %>

