<h2>Works created</h2>

<%= render(:partial => 'layouts/creator', :object => group_ones) %>

<h2>Expressions realized</h2>

<%= render(:partial => 'layouts/realizer', :object => group_ones) %>

<h2>Manifestations produced</h2>

<%= render(:partial => 'layouts/producer', :object => group_ones) %>

<h2>Items owned</h2>

<%= render(:partial => 'layouts/owner', :object => group_ones) %>
